@import "@/styles/scheme.scss";

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tip {
    font-size: 32rpx;
    font-weight: bold;
    color: $black;
    border-left: 8rpx solid $claret;
    padding-left: 20rpx;
  }

  .more {
    color: $claret;
    font-family: "novel";
    font-size: 28rpx;
    font-style: normal;
    margin-right: 20rpx;

    &::after {
      content: "\e622";
      margin-left: 5rpx;
    }
  }
}

.comment {
  display: flex;
  align-items: center;
  padding: 10rpx;

  &-item {
    flex-grow: 1;
    margin: 10rpx;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cover {
      width: 162rpx;
      height: 216rpx;
    }

    .title {
      width: 150rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      margin-top: 15rpx;
      font-size: 28rpx;
      color: $black;
    }
  }
}

.hover {
  opacity: 0.8;
}