@import "@/styles/scheme.scss";

.book {
  &-detail {
    display: flex;
    align-items: center;
    padding: 20rpx;

    .cover {
      width: 162rpx;
      height: 216rpx;
    }

    .desc {
      margin-left: 20rpx;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 32rpx;
        font-weight: bold;
        color: $black;
        margin: 10rpx 0;
      }

      .sku {
        font-size: 26rpx;
        color: $gray;
        display: flex;
        align-items: center;
        margin: 10rpx 0;

        .author {
          color: $claret;
        }

        .split {
          margin: 0 20rpx;
        }

        .red {
          color: $red;
        }
      }

      .serial {
        font-size: 26rpx;
        color: $gray;
        margin: 10rpx 0;
      }
    }
  }

  &-reader {
    display: flex;
    align-items: center;
    margin: 10rpx 0;
    padding: 20rpx;

    .item {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .key {
        font-size: 26rpx;
        color: $gray;
      }

      .val {
        margin-top: 5rpx;
        font-size: 32rpx;
        color: $black;
      }
    }
  }

  &-intro {
    padding: 20rpx 30rpx;
    margin-bottom: 30rpx;
    border-bottom: 1px solid $borderGray2;
    font-size: 26rpx;
    color: $black;
    line-height: 1.8;
  }

  &-catalog {
    margin: 20rpx 0;
    margin-bottom: 30rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .more {
      color: $gray;
      font-size: 28rpx;
      display: flex;
      align-items: center;

      .chapter {
        width: 250rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 10rpx;
      }

      .go {
        font-family: "novel";
        font-style: normal;
        margin-right: 20rpx;

        &::after {
          content: "\e622";
          margin-left: 5rpx;
        }
      }
    }
  }

  &-tag {
    padding: 20rpx 20rpx 10rpx;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30rpx;
    border-bottom: 1px solid $borderGray2;

    .item {
      font-size: 26rpx;
      color: $black;
      border: 1px solid $borderGray2;
      border-radius: 50rpx;
      padding: 10rpx 25rpx;
      margin-right: 20rpx;
      margin-bottom: 20rpx;
    }
  }

  .tip {
    font-size: 32rpx;
    font-weight: bold;
    color: $black;
    border-left: 8rpx solid $claret;
    padding-left: 20rpx;
  }
}

.hover {
  opacity: 0.8;
}

.line {
  width: 100%;
  height: 15rpx;
  background: $borderGray;
  margin-bottom: 30rpx;
}
