$White: #ffffff;
$Black: #333333;
$DarkBlack: #000000;
$LightBlack: #57575c;
$Gray: #dbdbdb;
$DarkGray: #9b9b9b;
$LightGray: #f0f1f4;
$LineGray: #f2f2f2;
$Red: #db544c;
$LightRed: #fdecec;
$Claret: #b93321;

$ShadowBlack: #cccccc;

$DialogBlack: rgba(0, 0, 0, 0.5);

/*字体库*/
@font-face {
  font-family: "novel"; /* project id 1341091 */
  src: url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.eot");
  src: url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.woff") format("woff"),
    url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1341091_ulj6z0ep06b.svg#novel") format("svg");
}
