$White: #ffffff;
$Black: #333333;
$DarkBlack: #000000;
$LightBlack: #666666;
$Gray: #dbdbdb;
$DarkGray: #9b9b9b;
$LightGray: #f0f1f4;
$LineGray: #f2f2f2;
$Red: #db544c;
$LightRed: #fdecec;
$Claret: #b93321;
$Female: #ef8498;
$Male: #5392f6;
$Protection: #c9ebc9;
$LightProtection: #d2efd0;

$ShadowBlack: #cccccc;

$DialogBlack: rgba(0, 0, 0, 0.5);

/*字体库*/
@font-face {
  font-family: "novel"; /* project id 1341091 */
  src: url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.eot");
  src: url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.woff") format("woff"),
    url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1341091_qfdfnxrthh.svg#novel") format("svg");
}
