@import "@/styles/scheme.scss";
@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";

.reader {
  padding: 30rpx;

  .title {
    font-weight: bold;
    margin-bottom: 20rpx;
  }

  .content {
    padding: 20px;
    line-height: 85rpx;
  }

  .last {
    font-family: "novel";
    font-style: normal;
    font-size: 30rpx;
    color: $Red;
    margin-bottom: 40rpx;
    margin-top: 30rpx;

    &::before {
      content: "\e630";
      margin-right: 10rpx;
    }
  }

  .next {
    font-size: 30rpx;
    line-height: 80rpx;
    text-align: center;
    border-radius: 20rpx;
    color: $Red;
    margin-top: 20rpx;
    margin-bottom: 90rpx;

    &-default {
      background: #fff5ee;
    }

    &-protection {
      background: $LightProtection;
    }
  }

  .action {
    position: fixed;
    left: 0;
    bottom: -500rpx;
    z-index: 100;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    border-top: 1px solid $LineGray;
    display: flex;
    align-items: center;
    padding: 10rpx 20rpx;

    &-show {
      bottom: 0;
    }

    .chapter,
    .setting,
    .eye {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 0;

      &-img {
        width: 44rpx;
        height: 44rpx;
      }

      &-txt {
        font-size: 20rpx;
        margin-top: 5rpx;
        color: $LightBlack;
      }
    }

    .add {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30rpx;
        background-color: $Gray;
        padding: 8rpx 25rpx;

        &-img {
          width: 44rpx;
          height: 44rpx;
        }

        &-txt {
          font-size: 26rpx;
          margin-left: 10rpx;
          color: $LightBlack;
        }
      }
    }
  }

  .setting-pop {
    position: fixed;
    left: 0;
    bottom: -500rpx;
    z-index: 90;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    align-items: center;
    padding: 20rpx;
    box-shadow: 0 2px 10px 0 $ShadowBlack;

    &-show {
      bottom: 96rpx;
    }

    .font {
      display: flex;
      align-items: center;
      width: 100%;

      &-small {
        flex-shrink: 0;
        font-size: 26rpx;
        padding: 10rpx;
      }

      &-big {
        flex-shrink: 0;
        padding: 10rpx;
      }

      .slider {
        flex-grow: 1;
        font-size: 32rpx;
      }
    }
  }

  .drawer {
    padding: 20rpx;

    &-default {
      background-color: $White !important;
    }

    &-protection {
      background-color: $Protection !important;
    }

    &-item {
      line-height: 80rpx;
      font-size: 30rpx;
      color: $Black;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-selected {
        color: $Red;
      }

      .txt {
        width: 350rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .vip {
        width: 35rpx;
        height: 35rpx;
      }
    }
  }
}

.hover {
  opacity: 0.7;
}

.default {
  color: $Black !important;
  background-color: $White !important;
}

.protection {
  color: $Black !important;
  background-color: $Protection !important;
}

.night {
  color: $White !important;
  background-color: $DarkBlack !important;
}

.light-protection {
  color: $Black !important;
  background-color: $LightProtection !important;
}
