.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70rpx;
  line-height: 70rpx;
  font-size: 28rpx;
  border-bottom: 1px solid #dddddd;
  white-space: nowrap;

  &-item {
    padding: 0 20rpx;
    display: inline-block;

    &:first-child {
      margin-left: 20rpx;
    }

    &.active {
      color: #b93321;
    }
  }
}
