@import "@/styles/scheme.scss";

.chapter {
  .list {
    &-item {
      height: 80rpx;
      line-height: 80rpx;
      padding: 0 30rpx;
      font-size: 28rpx;
      color: $Black;
      display: flex;
      align-items: center;

      .index {
        margin-right: 30rpx;
        flex-shrink: 0;
      }

      .title {
        flex-grow: 1;
      }

      .vip {
        flex-shrink: 0;
        width: 40rpx;
        height: 40rpx;
      }
    }
  }
}

.hover {
  background-color: $LightGray;
}
