@import "@/styles/scheme.scss";
@import "~taro-ui/dist/style/components/rate.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.comment {
  margin-bottom: 50rpx;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20rpx;

    .author {
      display: flex;
      align-items: center;

      .avatar {
        width: 44rpx;
        height: 44rpx;
        border-radius: 100%;
        margin-right: 15rpx;
      }

      .nickname {
        font-size: 24rpx;
        color: $DarkGray;
        margin-right: 10rpx;
      }

      .level {
        font-size: 20rpx;
        color: $DarkGray;
        border: 1px solid $Gray;
        border-radius: 20rpx;
        padding: 0 10rpx;
        margin-right: 10rpx;
      }

      .male {
        font-family: "novel";
        font-style: normal;
        font-size: 24rpx;
        color: $Male;

        &::after {
          content: "\e877";
        }
      }

      .female {
        font-family: "novel";
        font-style: normal;
        font-size: 24rpx;
        color: $Female;

        &::after {
          content: "\e878";
        }
      }
    }

    .evaluate {
    }
  }

  .body {
    margin-bottom: 20rpx;

    .title {
      font-size: 28rpx;
      margin-bottom: 20rpx;
      color: $Black;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .content {
      font-size: 26rpx;
      color: $DarkGray;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .footer {
    color: $DarkGray;
    font-size: 24rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time {
    }

    .action {
      display: flex;
      align-items: center;

      &-comment {
        font-family: "novel";
        font-style: normal;
        margin-right: 20rpx;

        &::before {
          content: "\e691";
          margin-right: 10rpx;
        }
      }

      &-like {
        font-family: "novel";
        font-style: normal;

        &::before {
          content: "\e60c";
          margin-right: 10rpx;
        }
      }
    }
  }
}

.hover {
  opacity: 0.8;
}
