@import "~taro-ui/dist/style/components/float-layout.scss";

.modal {
  position: fixed;
  left: 0;
  bottom: -1100rpx;
  transition: all 0.3s;
  background-color: gray;
  width: 100%;

  &-show{
      bottom: 0rpx;
  }
}
